<link href="./css/podcast.css" rel="stylesheet" />
<div class="podcast-container container-bg-fff">
    <div class="podcast-img">
        <img src="./asset//image/vidie player.png" alt="">
    </div>
    <div class="podcast-text">
        <div class="podcast-text-1">
            <p>ECONOMY</p>
        </div>
        <div class="podcast-text-2">
            <p>Economic and Political Outlook 2021</p>
        </div>
        <div class="podcast-text-3">
            <p>In the latest episode of our podcast series The Economists’ Corner, CEDA Chief Economist Jarrod Ball
                unpacks the New South Wales budget with the state’s Chief Economist Stephen Walters and ANZ Senior
                Economist Cherelle Murphy. </p>
        </div>
        <div class="podcast-button">
            <a href="#" class="podcast-button-1">Listen</a>
        </div>
    </div>
</div>