<link href="./css/rearch-callout.css" rel="stylesheet" />
<div class="rearch-callout-container container-bg-fff">
    <div class="rearch-callout-text">
        <div class="rearch-callout-text-1">
            <p>OPINION ARTICLE</p>
        </div>
        <div class="rearch-callout-text-2">
            <p>CEDA’s Sustainable Development Goals (SDGs) event</p>
        </div>
        <div class="rearch-callout-text-3">
            <p>Following his recent appearance at CEDA’s Sustainable Development Goals (SDGs) event, Monash Sustainable
                Development Institute, ClimateWorks Australia & BehaviourWorks Australia Chair, John Thwaites, writes
                that the SDGs can structure an effective recovery for Australia, but only if governments set meaningful
                targets.</p>
        </div>
        <div class="rearch-callout-button">
            <a href="#">READ OPINION ARTICLE</a>
        </div>
    </div>
    <div class="rearch-callout-right-shape">
        <img src="./asset/image/right shape 3.png" alt="">
    </div>
</div>