<link href="./css/research-callout-table.css" rel="stylesheet" />
<link href="./css/trustee-banner-table.css" rel="stylesheet" />


<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:100%">
    <tbody>
        <tr>
            <td class="space-42 mobile-space-13" width="42">
                &nbsp;</td>

            <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:100%"
                    class="research-callout1-container">
                    <tbody>
                        <tr>
                            <td align="center" class="space-50 mobile-space-41" width="50">
                                &nbsp;</td>
                            <td align="center">
                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                    <tbody>
                                        <tr>
                                            <td colspan="3" height="24" class="height-24">
                                                &nbsp;</td>
                                        </tr>
                                        <!-- text -->
                                        <tr>
                                            <td align="left" class="research-callout1-text-1">
                                                OPINION ARTICLE
                                            </td>
                                        </tr>
                                        <!-- space -->
                                        <tr>
                                            <td colspan="3" height="7" class="height-7">
                                                &nbsp;</td>
                                        </tr>
                                        <!-- text 2 -->
                                        <tr>
                                            <td align="left" class="research-callout1-text-2">
                                                CEDA’s Sustainable Development Goals (SDGs) event
                                            </td>
                                        </tr>
                                        <!-- space -->
                                        <tr>
                                            <td colspan="3" height="13" class="height-13">
                                                &nbsp;</td>
                                        </tr>

                                        <!-- text -->
                                        <tr>
                                            <td align="left" class="research-callout1-text-3">
                                                Following his recent appearance at CEDA’s Sustainable Development Goals
                                                (SDGs) event, Monash Sustainable
                                                Development Institute, ClimateWorks Australia & BehaviourWorks Australia
                                                Chair, John Thwaites, writes
                                                that the SDGs can structure an effective recovery for Australia, but
                                                only if governments set meaningful
                                                targets.
                                            </td>
                                        </tr>
                                        <!-- space -->
                                        <tr>
                                            <td colspan="3" height="13" class="height-13">
                                                &nbsp;</td>
                                        </tr>

                                        <!-- button -->
                                        <tr>
                                            <td align="left">
                                                <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                    class="research-callout1-button" style="float:none;">
                                                    <tbody>
                                                        <tr>
                                                            <td class="space-10" style="width: 10px;" width="10">&nbsp;
                                                            </td>
                                                            <td align="left" height="34" valign="center">
                                                                <div data-sub-block="true" data-block-datatype="Text">
                                                                    <p
                                                                        style="margin: 0; padding: 0px; line-height: 18px;">
                                                                        <span style="color:#ffffff;"><span
                                                                                style="font-size:14px;">READ OPINION
                                                                                ARTICLE</span></span>
                                                                    </p>
                                                                </div>
                                                            </td>
                                                            <td class="space-10" style="width: 10px;" width="10">&nbsp;
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>

                                        <!-- space - 28 -->
                                        <tr>
                                            <td colspan="3" height="28" class="height-28">
                                                &nbsp;</td>
                                        </tr>


                                    </tbody>
                                </table>
                            </td>
                            <td align="center" class="space-37 mobile-space-41" width="37">
                                &nbsp;</td>
                            <td align="center" class="research-callout1-right-shape mobile-hide" width="116">
                                <img src="./asset/image/right shape 3.png" alt="">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td class="space-42 mobile-space-13" width="42">
                &nbsp;</td>
        </tr>
    </tbody>
</table>