<link href="./css/research-list.css" rel="stylesheet" />
<div class="research-list-container container-bg-fff">
    <div class="research-list-text">
        <div class="research-list-text-1">
            <p>ECONOMY</p>
        </div>
        <div class="research-list-text-2">
            <p>Economic and Political Outlook 2021</p>
        </div>
        <div class="research-list-text-3">
            <p>CEDA’s 2021 Economic and Political Outlook (EPO) report examines why governments should seize
                opportunities that deliver long-term economic and social benefits to secure Australia’s recovery from
                the COVID-19 pandemic.</p>
        </div>
        <div class="research-list-button">
            <a href="#" class="research-list-button-1">Read More</a>
            <a href="#" class="research-list-button-2">Download</a>
        </div>
    </div>
</div>