<link href="./css/trusteeBanner.css" rel="stylesheet" />
<div class="trustee-banner-container">
    <div class="trustee-banner-section1">
        <div class="trustee-banner-logo"><img src=".\asset\image\Ceda_logo_New 1.png"> </div>
        <div class="trustee-banner-text">
            <p class="">TRUSTEE ROUNDTABLE</p>
        </div>
    </div>
    <div class="trustee-banner-section2">
        <div class="inform-container">
            <p class="inform-1">A personal Invite for Deshabandu Muttiah Muralitharan</p>
            <p class="inform-2">Queensland’s eHealth agenda</p>
        </div>
        <div class="shape-image"><img src=".\asset\image\Right Shape.png"></div>
    </div>
</div>