<link href="./css/trustee-banner-table.css" rel="stylesheet" />
<table width="100%" align="center" cellspacing="0" cellpadding="0" border="0" class="bg-blank color-white">
    <tr class="bg-white">
        <td colspan="3" height="8" class="height-8">&nbsp;</td>
    </tr>
    <tr>
        <td align="center" valign="middle" style=" vertical-align: middle; text-align: center;" width="127"
            class="bg-white trustee-banner-logo-container">
            <table align="left" border="0" cellpadding="0" cellspacing="0" style="float:none;width:100%">
                <tbody>
                    <tr>
                        <td colspan="3" height="4" class="height-4">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="12" class="space-12" style="font-size: 0; ">&nbsp;</td>
                        <td align="center" width="102" class="trustee-banner-table-logo"
                            style=" vertical-align: middle; text-align: center;" valign="middle"><img
                                src=".\asset\image\Ceda_logo_New 1.png" alt="" border="0"
                                style="outline: none; display: block;">
                        </td>
                        <td width="12" class="space-12" style="font-size: 0;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="3" align="center" height="13" class="height-13">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td align="left" style=" vertical-align: middle; text-align: left;" valign="middle"> TRUSTEE ROUNDTABLE </td>
        <td width="20" class="space-20">&nbsp;</td>
    </tr>
    <tr class="trustee-banner-border">
        <td colspan="3" align="center" class="trustee-banner-border" height="1">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="3" height="24" class="height-24">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="3" align="center" valign="middle" style=" vertical-align: middle; text-align: center;">
            <table width="100%" align="center" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td width="42" class="space">&nbsp;</td>
                    <td align="left" style=" vertical-align: middle; text-align: left;" valign="middle">
                        <table width="100%" align="left" cellspacing="0" cellpadding="0" border="0">
                            <tr>
                                <td class="trustee-banner-text-1" align="left"
                                    style=" vertical-align: middle; text-align: left;" valign="middle"> A personal
                                    Invite for Deshabandu Muttiah Muralitharan </td>
                            </tr>
                            <tr>
                                <td height="4" class="height-4">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="trustee-banner-text-2" align="left"
                                    style=" vertical-align: middle; text-align: left;" valign="middle"> Queensland’s
                                    eHealth agenda </td>
                            </tr>
                        </table>
                    </td>
                    <td align="center" class="trustee-banner-img" style=" vertical-align: middle; text-align: center;"
                        valign="middle">
                        <img src=".\asset\image\Right Shape.png" alt="" border="0"
                            style="outline: none; display: block;">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="3" height="24" class="height-24">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="3">
            <table width="100%" align="center" cellspacing="0" cellpadding="0" border="0">
                <tr class="height-1">
                    <td width="42" class="space-42">&nbsp;</td>
                    <td height="1" class="trustee-banner-bottom-border">
                    </td>
                    <td width="44" class="space-44">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>