<link href="./css/trusteeBanner.css" rel="stylesheet" />
<div class="container">
    <div class="section1">
        <div class="logo"><img src="./asset/svg/logo.svg"> </div>
        <div class="text-container">
            <div class="text">TRUSTEE ROUNDTABLE</div>
        </div>
    </div>
    <div class="section2">
        <div class="inform-container">
            <div class="inform-1">A personal Invite for Deshabandu Muttiah Muralitharan</div>
            <div class="inform-2">Queensland’s eHealth agenda</div>
        </div>
        <div class="shape-image"><img src="./asset/svg/rightShape.svg"></div>
    </div>
</div>