<link href="./css/trustee-banner-table.css" rel="stylesheet" />


<table width="100%" align="center" cellspacing="0" cellpadding="0" border="0" bgcolor="#000"
    style="background: #000;color: #fff; border-collapse: collapse;">
    <!-- 上padding  8px -->
    <tr bgcolor="#000" style="background: #fff;">
        <td colspan="3" height="8" style="font-size: 0; line-height:8px;">
            &nbsp;</td>
    </tr>
    <!-- 左图 w 102 p 12-8 12 12 12 右文字 右空白 21-->
    <!-- border 线  1px red -->
    <tr class="border_bottom">
        <td align="center" valign="top" style="width:102px; padding: 12px 13px;background: #fff;">
            <img src=".\asset\image\Ceda_logo_New 1.png" alt="" border="0" style="outline: none; display: block;"
                class="smallimgwidth">
        </td>
        <td style="text-align: right;background: #000; color: #fff;">
            TRUSTEE ROUNDTABLE
        </td>
        <td width="20" class="space" style="background: #000; ">
            &nbsp;</td>
    </tr>

    <!-- 中间padding    19px -->
    <tr>
        <td colspan="3" height="19" style="font-size: 0; line-height:19px;">
            &nbsp;</td>
    </tr>

    <!-- 左空白 42 文字 图 88 -->
    <tr>
        <td colspan="3">
            <table width="100%" align="center" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td width="42" class="space" style="background: #000; ">
                        &nbsp;</td>

                    <td>
                        <table width="100%" align="center" cellspacing="0" cellpadding="0" border="0">
                            <tr>
                                <td style="line-height: 16px;
                                font-weight: 700;
                                letter-spacing: 3.5px;
                                text-transform: uppercase;
                                color: #0086c1;">A personal Invite for Deshabandu Muttiah Muralitharan</td>
                            </tr>
                            <tr>
                                <td height="4" style="font-size: 0; line-height:4px;">
                                    &nbsp;</td>
                            </tr>
                            <tr>
                                <td style="line-height: 27px;
                                font-size: 24px;
                                font-weight: 700;
                                letter-spacing: 3.5px;
                                text-transform: uppercase;
                                color: #fff;">Queensland’s eHealth agenda</td>
                            </tr>
                        </table>
                    </td>
                    <td align="center" valign="top" style="width:88px;">
                        <img src=".\asset\image\Right Shape.png" alt="" border="0"
                            style="outline: none; display: block;" class="smallimgwidth">
                    </td>
                </tr>
            </table>
        </td>

    </tr>

    <!-- 底部padding 32px -->
    <tr>
        <td colspan="3" height="32" style="font-size: 0; line-height:32;">
            &nbsp;</td>
    </tr>
</table>