<link href="./css/video-listing.css" rel="stylesheet" />
<div class="video-listing-container container-bg-fff">
    <div class="video-listing-text">
        <div class="video-listing-text-2">
            <p>ONE QUESTION WITH: ROD SIMS, ACCC CHAIRMAN</p>
        </div>
        <div class="video-listing-text-3">
            <p>Small description of the latest video on the gallery here. </p>
        </div>
        <div class="video-listing-button">
            <a href="#" class="video-listing-button-1">Watch video</a>
        </div>
    </div>
    <div class="video-listing-img">
        <img src="./asset//image/screen.png" alt="">
    </div>
</div>