body {
    font-family:
        /* @font-family */ Montserrat, Verdana, Arial, sans-serif /* @font-family */;
    font-size:
        /* @body-text-size */ 14px /* @body-text-size */;
    color:
        /* @body-text-color */ #252932 /* @body-text-color */;
    background-color:
        /* @outer-background */ #252932 /* @outer-background */;
    margin: 0 !important;
}
.space-42 {
    width: 42px;
}

@media only screen and (max-width: 768px) {
    .space-42 {
        width: 12px !important;
    }

    .mobile-hide {
        display: none !important;
    }
}
