$bg-color: #252932;
$logo-bg-color: #fff;

.finance-header-container {
    font-family: Montserrat;
    text-align: right;
    background: #fff;

    .finance-header-logo {
        float: left;
        img {
            width: 102px;
            height: 30px;
            margin-right: 42px;
            margin-bottom: 29px;
        }
    }

    .finance-header-text {
        float: right;
        margin-bottom: 25px;
    }

    p {
        font-size: 14px;
        line-height: 120%;
        padding-top: 21px;
        font-weight: 500;

        a {
            font-weight: 700;
            color: #fff;
        }
    }
}
