.research-callout1-container {
    background-color: #fff;
}

.research-callout1-right-shape {
    width: 116px;

    img {
        width: 100%;
    }
}

.research-callout1-button {
    background-color: #e11837;
    border-radius: 5px;
}

.research-callout1-text-1 {
    font-size: 12px;
    line-height: 23px;

    color: #e11837;
}
.research-callout1-text-2 {
    font-size: 16px;
    line-height: 18px;

    font-weight: 700;
    text-transform: uppercase;
}
.research-callout1-text-3 {
    font-size: 12px;
    line-height: 17px;

    
}
