$bg-color: #252932;
$logo-bg-color: #fff;
$color: #fff;

.trustee-banner-container {
    color: $color;
    font-family: Montserrat;
}
// section 1 start
.trustee-banner-section1 {
    display: flex;
}

.trustee-banner-logo {
    background: $logo-bg-color;
    padding: 12px 13px 13px 12px;
    flex-shrink: 0;
    flex-flow: 0;
    img {
        width: 102px;
        height: 30px;
    }
}

.trustee-banner-text {
    padding-top: 8px;
    border-bottom: 1px solid #e11837;
    flex-grow: 1;
    p {
        background: $bg-color;
        padding-right: 21px;
        line-height: 47px;
        text-align: right;
    }
}
// section 1 end

// section 2 start
.trustee-banner-section2 {
    text-transform: uppercase;

    background: $bg-color;
    display: flex;
}

// section 2 text block
.inform-container {
    padding-left: 42px;
    padding-top: 23px;

    font-weight: 700;
    letter-spacing: 3.5px;
    text-align: left;
    letter-spacing: 3.5px;
    margin-right: 4px;
}

.inform-1 {
    margin-bottom: 4px;
    line-height: 16px;
    color: #008bc1;
}
.inform-2 {
    font-size: 24px;
    line-height: 27px;
}

.shape-image {
    width: 90px;
    height: 90px;

    padding: 19px 0 35px 0;
    flex-shrink: 0;
}

@media only screen and (max-width: 768px) {
    .inform-container {
        padding-left: 12px !important;
    }
}
